* {
  font-family: Iosevka Nerd Font Mono;
  font-size: 14pt;
}

window {
  margin: 1px;
  border: 1px solid white;
  border-radius: 10px;
}

#input {
  margin: 0px 0px 20px 0px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: black;
  color: white;
}

#inner-box {
  margin: 1px;
  background-color: black;
}

#outer-box {
  margin: 3px;
  padding: 10px;
  background-color: black;
  border-radius: 7px;
}

#text {
  margin: 5px;
  color: white;
}

#entry:selected {
  background-color: gray;
  border-radius: 10px;
}

#text:selected {
  color: white;
}
